In [1]:
from astropy.table import Column, Table, vstack
from sndata.sdss import sako18spec

In [2]:
master = sako18spec.load_table('master')
master

<Table masked=True length=1360>
 CID   SID  Telescope Files     Date    Type   zSN     zGal
str21 int64    str8    str6    str10    str6 float64 float64
----- ----- --------- ------ ---------- ---- ------- -------
  701  2795       APO    Gal 2008-09-02  Gal      --   0.206
  703  1963       NTT    Gal 2007-09-21  Gal      --  0.2987
  722    58       APO SN,Gal 2005-09-09   Ia   0.087  0.0859
  739    59       APO SN,Gal 2005-09-09   Ia   0.105  0.1071
  744    60       APO SN,Gal 2005-09-08   Ia   0.123  0.1278
  762    61       APO SN,Gal 2005-09-09   Ia   0.189  0.1908
  774    62       APO SN,Gal 2005-09-09   Ia    0.09  0.0937
  774   577       MDM     SN 2005-09-17  Gal      --  0.0933
  779   592       HET    Gal 2005-12-29  Gal      --  0.2377
  841  2757       HET    Gal 2008-01-06  Gal      --  0.2991
  ...   ...       ...    ...        ...  ...     ...     ...
21839  2716       NTT     SN 2007-12-08   Ia   0.089  0.0935
21858  2999       APO    Gal 2008-10-30  Gal      --  0.2656
21861  2723       NTT     SN 2007-12-07   Ia   0.188      --
21898  2656       MDM     SN 2007-11-25   Ic   0.038  0.0383
21898  2704       NTT     SN 2007-12-07   Ib   0.038  0.0384
22073  2673       HET     SN 2007-12-09  IIn   0.235  0.2311
22075  2661       MDM     SN 2007-11-25   Ia   0.117  0.1278
22182  2690       NTT     SN 2007-12-10   Ia   0.076      --
22182  2699       WHT     SN 2007-12-03   Ia   0.072      --
22284  2735       NTT     SN 2007-12-08   Ia   0.136      --

In [5]:
sako18spec.get_data_for_id('21839')

<Table length=1749>
   wavelength             flux          spec_type    date    telescope
    float64             float64            str2     str10       str3
---------------- ---------------------- --------- ---------- ---------
3615.13522935257  1.994586272405577e-13        SN 2007-12-08       NTT
3618.07293223425 -2.932777718595014e-13        SN 2007-12-08       NTT
3621.01215057146  1.322438361074651e-12        SN 2007-12-08       NTT
3623.95288164379  2.774769346583494e-13        SN 2007-12-08       NTT
 3626.8951227347 -7.751127756132348e-13        SN 2007-12-08       NTT
3629.83887113145 -2.840156495403923e-13        SN 2007-12-08       NTT
 3632.7841241251 -4.776561091102139e-13        SN 2007-12-08       NTT
3635.73087901055  8.538407069054454e-13        SN 2007-12-08       NTT
3638.67913308649  4.299327820839194e-13        SN 2007-12-08       NTT
3641.62888365541  1.610109615080013e-13        SN 2007-12-08       NTT
             ...                    ...       ...        ...       ...
 9685.1116771348  4.086177596549881e-17        SN 2007-12-08       NTT
9688.76576052245  3.757857700026763e-17        SN 2007-12-08       NTT
9692.41975050888  2.259188078943194e-17        SN 2007-12-08       NTT
9696.07364643804  9.715759899763053e-18        SN 2007-12-08       NTT
9699.72744765247  7.319156276123367e-18        SN 2007-12-08       NTT
9703.38115349323  1.091090022728172e-17        SN 2007-12-08       NTT
9707.03476329993  1.883830556887248e-17        SN 2007-12-08       NTT
9710.68827641073  1.698052574188861e-17        SN 2007-12-08       NTT
9714.34169216231  3.524468028450437e-17        SN 2007-12-08       NTT
 9717.9950098899  4.020891539523521e-17        SN 2007-12-08       NTT